KEY=2cslYT05MSdw+JPg2n/LOplXcx344EDv75LKUQA6Q799xzZFr/htfhPQ4ES3ZSiA
USERNAME=USERNAME1,USERNAME2
PASSWORD=PASSWORD1,PASSWORD2
INTERVAL=3
NUM_QUEUES=1
ACCELERATION=1
MAX_ATTEMPTS=10
ONLINE_JUDGE=http://127.0.0.1:8000/update_submission
JOB_TIMEOUT=15
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
APPLICATION_HOST=127.0.0.1
APPLICATION_PORT=6969